.bg__part_about {
	width: 10.4%;
	&:before {
		background-image: url(../images/about_main.jpg);
		width: 44.8vw;
	}
	&:first-child {
  		width: 13.6%;
  	}
}
.playBtn {
	position: absolute;
	margin-left: 13.6%;
	width: 31.2%;
	height: 100vh;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.btn_play {
	width: 88px;
	height: 88px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.3);
	z-index: 150;
	.icon_play {
		background-position: right center;
	}
}
.btn_play:hover {
	animation-name: playHover;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes playHover {
	0% {
		box-shadow: 0px 0px 0px 0px rgba(255,255,255,0.1);
	}
	100% {
		box-shadow: 0px 0px 20px 0px rgba(127,166,227,0.5);
	}
}
.aboutTxt {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 31.2%;
	margin-left: 55.2%;
	margin-right: 13.6%;
}
.textWrap_aboutTxt {
	margin-top: 2em;
	margin-bottom: 2em;
}
.aboutTxt__txt {	
	font-family: 'ProximaNova', sans-serif;
	font-size: 1.3em;
	line-height: 1.6em;
	color: $wht;
}
.textWrap_aboutInfoBtn {
	padding-top: 1px;
	padding-bottom: 1px;
}
.infoBtn {
	display: inline-block;
	width: 37%;
	font-family: 'ProximaNova', sans-serif;
	font-size: 1em;
	line-height: 3em;
	color: $wht;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid $wht;
}
.subHead_about,
.aboutTxt__txt,
.infoBtn {
	transform: translateY(0%);
	transition: transform 1.5s ease-in-out;
}
.page_current {
	.subHead_about,
	.aboutTxt__txt,
	.infoBtn {
		transform: translateY(0%);
		transition-delay: 2.3s;
	}
	.playBtn {
		opacity: 1;
		transition-delay: 3s;
	}
}
.page_fromBottom,
.page_toTop {
	.subHead_about,
	.aboutTxt__txt,
	.infoBtn {
		transform: translateY(200%);
		transition-delay: 0s;
	}
	.playBtn {
		opacity: 0;
		transition-delay: 0s;
	}
}