.contacts {
	width: calc(100% * 3 / 7 );
	margin-right: calc(100% / 7);
}
.feedback {
	width: calc(100% *2 / 7);
}
.textWrap_input {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: -1px;
}
.contacts__txt {
	font-family: 'ProximaNova', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	color: $wht;
	letter-spacing: 0.01em;
	a {
		color: inherit;
		text-decoration: none;
	}
}
.input__style {
	background-color: $darkBlu;
	border: 1px solid rgba(255,255,255,0.2);
}
.input__style_textarea {
	overflow: hidden;
}
.input__style_select {
	width: calc(100% * 2 / 3);
}
.contacts__offices {
	font-family: 'ProximaNova', sans-serif;
	font-size: 1.3em;
	font-weight: 400;
	color: $wht;
	letter-spacing: 0.01em;
	display: inline-block;
	width: 100%;
	padding: 1em;
	border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    &:focus {
    	outline: none;
    }
}
.feedback__form {
	input,
	textarea {
		font-family: 'ProximaNova', sans-serif;
		font-size: 1.3em;
		font-weight: 400;
		color: $wht;
		letter-spacing: 0.01em;
		display: inline-block;
		width: calc(100% - 2em);
		padding: 1em;
		border: none;
		box-shadow: none;
	    background: transparent;
		&::placeholder {
			color: $formBlu;
		}
		&:focus {
			outline: none;
		}
	}
	textarea {
		resize: none;
		padding-right: calc(20px + 1em);
		overflow-x: hidden;
		overflow-y: scroll;
	}
	input[type="submit"] {
		width: 100%;
	}
}
.textWrap_submit {
		width: 50%;
		margin-left: calc(50% - 1px);
	}