.scrollBtn {
	position: absolute;
	bottom: 2em;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, 200%);
	z-index: 200;
	transition: 1s transform 3s, 0.5s opacity 3.4s;
}
.loaded {
	.scrollBtn {
		opacity: 1;
		transform: translate(-50%, 0%);
		animation-name: fly;
	    animation-duration: 3s;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}
}
@keyframes fly {
	0% {
		transform: translate(-50%, 0%);
	}
	50% {
		transform: translate(-50%, -20%);
	}
	100% {
		transform: translate(-50%, 0%);
	}
}